#cart-main-visual {
  height: 30vh;
  background-image: image-url('cart_main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

input[type="submit"] {
  margin: 10px;
}

input[type="number"] {
  margin-right: 10px;
}

.price {
  margin-top: 16px;
}