#confirm-main-visual {
  height: 30vh;
  background-image: image-url('confirm_main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}
#thanks_header-visual {
  height: 30vh;
  background-image: image-url('thanks_header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}