<main>
<div class = "container">
  <div class = "row">
    <div class = "col-md-6">
      <%= attachment_image_tag @item, :image, :fill, 60, 60 fallback: "no_iamge.jpg" %>
    </div>
    <div class = "col-md-6">
      <div class = "item_name">
        <label>商品名</label>
        <%=@item.name %>
        </div>
      <div class = "item_introduction">
       <label>商品説明</label>
        <%=@item.introduction %>
       </div>
        
    </div>
  </div>
  
</div>
</main>