<div id="thanks_header-visual"></div>

<div class="container my-3 mx-auto align-items-center">
  <div class="row mb-4 d-flex align-items-center">
    <div class="col-6 md-10 text-center"><h3>ご注文ありがとうございます！</h3>
      <div class="row text-center">
        <div class="col-12 mt-4">
          <p>この度はながのCakeをご利用頂きありがとうございます。</p>
          <p>早速、商品発送の手配をいたしますので<br/>
          ご到着までしばらくお待ちくださいませ。</p>
          <p>ご質問やご不明な点がございましたら<br/>
          わたくし長野までお気軽にお問い合わせください。</p>
          <p>今後ともながのCakeを宜しくお願い致します。</p>          
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-5 col-xl-5">
      <%= image_tag "thanks_main.jpg" %>    
    </div>
  </div>

</div>

